<%- include("header") %>
<div class="container">
    <div class="centerAlign">
        <h1>Add Course</h1>
        <form action="/addCourse" method="post">
            <label class="mt-3" for="semSelect">Semester</label>
            <select class="mt-3" name="semSelect" id="semSelect" title="Select Semester">
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
            <option value="S4">S4</option>
            <option value="S5">S5</option>
            <option value="S6">S6</option>
            <option value="S7">S7</option>
            <option value="S8">S8</option>
            </select>
            <br>
            <label class="mt-3" for="courseSelect">Course</label>
            <select class="mt-3" name="courseSelect" id="courseSelect">
                <% for(let i = 0; i < courseList.length; i++) { %>
                    <option value="<%= courseList[i].cid %>"><%= courseList[i].cName %></option>
                <% } %>
            </select>
            <br>
            <input type="submit" value="Confirm" class="btn btn-success mt-3">
            <a href="/teacherLanding" class="btn btn-danger mt-3">Cancel</a>
        </form>
    </div>
</div>
<%- include("footer") %>