<%- include("header") %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet numquam facilis aut ex sunt atque rem. Tenetur in cum, expedita, quod veritatis numquam necessitatibus molestiae tempore aut repudiandae laboriosam tempora, architecto molestias fugit! In dignissimos quas, porro sint odit aliquam similique laboriosam sapiente, quibusdam quis natus iusto alias libero totam.</p>
<%- include("footer") %>