<%- include("header") %>
<div class="container">
    <div class="centerAlign">
        <form>
            <h1>Login</h1>
                <label class="mt-3">ID</label>
                <input class="mt-3" type="text" placeholder="ID">
                <br>
                <label>Password </label>
                <input class="mt-3" type="password" placeholder="Password">
                <br>
                <input class="mt-3 btn btn-primary" type="button" value="Login">
        </form>
    </div>
</div>
<%- include("footer") %>