<%- include("header") %>
<div class="container">
    
    <div class="row">

        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Course</h5>
                    <a href="addCourse" class="btn btn-primary mt-5 ">Add Course</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">View Courses</h5>
                    <a href="#" class="btn btn-primary mt-5">View Courses</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Enroll Students</h5>
                    <a href="enrollStudents" class="btn btn-primary mt-5">Enroll Students</a>
                </div>
            </div>
        </div>
    
    
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Unenroll Students</h5>
                    <a href="#" class="btn btn-primary mt-5">Unenroll Students</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Create Course</h5>
                    <a href="#" class="btn btn-primary mt-5">Create Course</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Students to Course</h5>
                    <a href="addStudenttoCourse" class="btn btn-primary mt-5">Add Students</a>
                </div>
            </div>
        </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Modify Student Details</h5>
                        <a href="#" class="btn btn-primary mt-5">Remove Students</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mark Attendance</h5>
                        <a href="markAttendance" class="btn btn-primary mt-5">Mark Attendance</a>
                    </div>
                </div>
            </div>
    </div>
</div>    
<%- include("footer") %>