<%- include("header") %>
<div class="container-fluid vcourse">
    <div class="centerAlign">
        <h1>Display Course Details</h1>
        <% if(typeof courseNames !== 'undefined') { %>
        <table class="mt-3 vcTable table table-dark table-bordered">
            <tr class="vctr">
                <th class="vcth">Course ID</th>
                <th class="vcth">Course Name</th>
            </tr>
            <% for (var i = 0; i < courseNames.length; i++) { %>
            <tr class="vctr">
                <td class="vctd"><%=courseNames[i].cId %></td>
                <td class="vctd"><%=courseNames[i].cName %></td>
            </tr>
            <% } %>
        </table>
        <% } %>
    </div>
    <a class="btn btn-danger mt-3" href="teacherLanding">Exit</a>
</div>
<%- include("footer") %>