<%- include("header") %>
<div class="container-fluid">
    <div class="centerAlign">
        <h1>Display Student Details</h1>
        <% if(typeof courseNames !== 'undefined') { %>
        <table class="mt-3">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
            </tr>
            <% for (var i = 0; i < courseNames.length; i++) { %>
            <tr>
                <td><%=courseNames[i].cId %></td>
                <td><%=courseNames[i].cName %></td>
            </tr>
            <% } %>
        </table>
        <% } %>
    </div>
</div>
<%- include("footer") %>